
@{
    ViewBag.Title = "ProjectInput";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Value passing from View to Action using Variable Name Mapping</h2>

<form method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="PTitle" required />
    </div>

    <div>
        <label for="course">Course:</label>
        <input type="text" id="course" name="Course" required />
    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="Description" required />
    </div>

    <button type="submit">Add</button>
</form>

@*Value passing from View to Action using Variable Name Mapping*@
<br />
@ViewBag.PTitle
<br />
@ViewBag.Course
<br />
@ViewBag.Description